<h1><%= Pirate.all[0].name %></h1>
<p><%= Pirate.all[0].weight %></p>
<p><%= Pirate.all[0].height %></p>

<h2><%= Ship.all[0].name %></h2>
<p><%= Ship.all[0].type %></p>
<p><%= Ship.all[0].booty %></p>

<h2><%= Ship.all[1].name %></h2>
<p><%= Ship.all[1].type %></p>
<p><%= Ship.all[1].booty %></p>
